.message-history {
    border-left: 1px solid rgba($color: #777, $alpha: .2);

    &__inner {
        display: flex;
        flex-direction: column;
    }
    
    &__messages {
        height: calc(100vh - 73px);
        padding: 15px;
        overflow-y: scroll;
    }

    &__message {
        margin-bottom: 10px;
        display: flex;

        &-inner {
            max-width: 70% !important;
            min-width: 40% !important;
        }
    }

    &__form {
        width: 100%;
        height: 73px;
        padding: 10px;
        margin-bottom: 0 !important;
        display: flex;
        align-items: center;
        border-top: 1px solid rgba($color: #777, $alpha: .2);
    }

    &__input {
        margin-right: 10px;
    }

    &__button {
        white-space: nowrap;
    }
    
    ._right {
        justify-content: flex-end;
        text-align: right;
    }
}
