$border: 1px solid rgba(119, 119, 119, 0.2);

.chat {
    &__container {
        background-color: rgba($color: #000, $alpha: .08);
        border-right: $border;
        border-left: $border;
    }

    &__col {
        padding: 0 !important;
    }
}
